/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/

/* společné */

.kontejner {
	color: white;
}

@media screen and (min-width: 640px) {
	.kontejner {
		display: flex;
		flex-wrap: wrap;
	}

	.hlavni {
		flex: 1 0 100%
	}

	.jedna,
	.dva {
		flex: 1 0 48%;
	}

	.tri,
	.ctyri {
		flex: 1 0 48%;
	}

	.jedna,
	.tri {
		margin-right: 2px;
	}
}

@media screen and (min-width: 850px) {
	
}


.recept {
	margin-bottom: 2px;
	background-position: center center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-size: cover;
	background-repeat: no-repeat;
}

.recept h2 {
	align-self: flex-end;
}

.recept p, 
h6 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	margin: 0;
	font-weight: 400;
	padding: 10px 10px;
	flex: 1 0 50%;
}

.recept p {
	text-align: right;
}

.recept h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 800;
	padding: 10px 10px;
	margin: 0;
}

@media screen and (min-width: 640px) {
	.recept h2 {
		font-size: 22px;
	}
}

@media screen and (min-width: 850px) {
	.recept h2 {
		font-size: 28px;
	}
}

.hlavni h2 {
	font-size: 28px;
}

@media screen and (min-width: 640px) {
	.hlavni h2 {
		font-size: 36px;
	}
}

@media screen and (min-width: 850px) {
	.hlavni h2 {
		font-size: 48px;
	}
}

/* hlavní recept  */

.hlavni {
	background-image: url(images/salat.jpg);
	min-height: 200px;
}

@media screen and (min-width: 640px) {
	.hlavni {
		min-height: 250px;
	}
}

@media screen and (min-width: 850px) {
	.hlavni {
		min-height: 400px;
	}
}


.jedna,
.dva,
.tri,
.ctyri {
	min-height: 90px;
}

@media screen and (min-width: 640px) {
	.jedna,
	.dva,
	.tri,
	.ctyri {
		min-height: 150px;
	}
}

@media screen and (min-width: 850px) {
	.jedna,
	.dva,
	.tri,
	.ctyri {
		min-height: 200px;
	}
}

/* recept první */

.jedna {
	background-image: url(images/chlebicek.jpg);
}

/* recept druhý */

.dva {
	background-image: url(images/tacos.jpg);
}

/* recept třetí */

.tri {
	background-image: url(images/cizrna.jpg);
}

/* recept čtvrtý */

.ctyri {
	background-image: url(images/burger.jpg);
}


